		body
		{
			font-family: verdana;
		}
		label
		{
			display: inline-block;
			width:200px;
		}
		input,select
		{
			width: 300px;
			height: 20px;
			margin-bottom: 20px
		}
		.boxSize
		{
			text-align: left;
			max-width: 400px;
		}
		.submit
		{
			text-align: center;
		}
		button[type="submit"]
		{
			margin-top:20px;
			color: white;
			background: green;
		}
		.container
		{
			max-width: 700px;
		}
